flows (3).json
[{"id":"f64c2dc9.4fb22","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"67d671ca.7e7d","type":"function","z":"f64c2dc9.4fb22","name":"PreToken","func":"global.set(\"dg\",msg.payload.dg)\nglobal.set(\"fvc\",msg.payload.fvc)\nglobal.set(\"fev\",msg.payload.fev)\nglobal.set(\"pf\",msg.payload.pf)\nglobal.set(\"pn\",msg.payload.pn)\nglobal.set(\"hm\",msg.payload.hm)\nglobal.set(\"dy\",msg.payload.dy)\nglobal.set(\"cu\",msg.payload.cu)\nglobal.set(\"wk\",msg.payload.wk)\nglobal.set(\"ts\",msg.payload.ts)\nglobal.set(\"dm\",msg.payload.dm)\nglobal.set(\"mi\",msg.payload.mi)\nglobal.set(\"pd\",msg.payload.pd)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"as\",msg.payload.as)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"2__duW-9KEXb5483ovDe00ildeMQgOb-4z171iFiyNQ-\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":380,"wires":[["7feaf9d3.08e1b8"]]},{"id":"985eb761.462dc8","type":"function","z":"f64c2dc9.4fb22","name":"Pre Prediction","func":"var dg = global.get('dg')\nvar fvc = global.get('fvc')\nvar fev = global.get('fev')\nvar pf = global.get('pf')\nvar pn = global.get('pn')\nvar hm = global.get('hm')\nvar dy = global.get('dy')\nvar cu = global.get('cu')\nvar wk = global.get('wk')\nvar ts = global.get('ts')\nvar dm = global.get('dm')\nvar mi = global.get('mi')\nvar pd = global.get('pd')\nvar sm = global.get('sm')\nvar as = global.get('as')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"7da5e64a-cb4e-4648-93b7-77b716579888\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Diagnosis\",\"FVC\",\"FEV1\",\"Performance\",\"Pain\",\"Haemoptysis\",\"Dyspnoea\",\"Cough\",\"Weakness\",\"Tumor_Size\",\"Diabetes_Mellitus\",\"MI_6mo\",\"PAD\",\"Smoking\",\"Asthma\",\"Age\"], \"values\": [[dg,fvc,fev,pf,pn,hm,dy,cu,wk,ts,dm,mi,pd,sm,as,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":340,"wires":[["e96cda55.426228"]]},{"id":"bc3b5287.ab9c4","type":"ui_form","z":"f64c2dc9.4fb22","name":"","label":"","group":"ccc28d1c.af9c9","order":0,"width":0,"height":0,"options":[{"label":"Diagnosis","value":"dg","type":"number","required":true,"rows":null},{"label":"FVC","value":"fvc","type":"number","required":true,"rows":null},{"label":"FEV1","value":"fev","type":"number","required":true,"rows":null},{"label":"Performance","value":"pf","type":"number","required":true,"rows":null},{"label":"Pain","value":"pn","type":"number","required":true,"rows":null},{"label":"Haemoptysis","value":"hm","type":"number","required":true,"rows":null},{"label":"Dyspnoea","value":"dy","type":"number","required":true,"rows":null},{"label":"Cough","value":"cu","type":"number","required":true,"rows":null},{"label":"Weakness","value":"wk","type":"number","required":true,"rows":null},{"label":"Tumor_Size","value":"ts","type":"number","required":true,"rows":null},{"label":"Diabetes_Mellitus","value":"dm","type":"number","required":true,"rows":null},{"label":"MI_6mo","value":"mi","type":"number","required":true,"rows":null},{"label":"PAD","value":"pd","type":"number","required":true,"rows":null},{"label":"Smoking","value":"sm","type":"number","required":true,"rows":null},{"label":"Asthma","value":"as","type":"number","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"dg":"","fvc":"","fev":"","pf":"","pn":"","hm":"","dy":"","cu":"","wk":"","ts":"","dm":"","mi":"","pd":"","sm":"","as":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":71,"y":422.9999952316284,"wires":[["67d671ca.7e7d"]]},{"id":"7fc20eb7.d0308","type":"ui_text","z":"f64c2dc9.4fb22","group":"ccc28d1c.af9c9","order":1,"width":0,"height":0,"name":"","label":"death_1yr","format":"{{msg.payload}}","layout":"row-spread","x":807.6000366210938,"y":428.20000743865967,"wires":[]},{"id":"e96cda55.426228","type":"http request","z":"f64c2dc9.4fb22","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/0e512852-22d4-4603-aed5-c7aa95bb3b80/predictions","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":260,"wires":[["3f68514e.94e0ae","1cdabaa9.691f15"]]},{"id":"7feaf9d3.08e1b8","type":"http request","z":"f64c2dc9.4fb22","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":300,"wires":[["985eb761.462dc8"]]},{"id":"e668c0e1.f6e7b","type":"debug","z":"f64c2dc9.4fb22","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":160,"wires":[]},{"id":"3f68514e.94e0ae","type":"function","z":"f64c2dc9.4fb22","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":160,"wires":[["7fc20eb7.d0308","e668c0e1.f6e7b"]]},{"id":"77f0335e.69acbc","type":"inject","z":"f64c2dc9.4fb22","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":320,"wires":[["67d671ca.7e7d"]]},{"id":"1cdabaa9.691f15","type":"debug","z":"f64c2dc9.4fb22","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":340,"wires":[]},{"id":"ccc28d1c.af9c9","type":"ui_group","z":"","name":"Default","tab":"4fe794eb.826afc","order":1,"disp":true,"width":"6","collapse":false},{"id":"4fe794eb.826afc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]