flows (11).json
[{"id":"5fa2ca54.b9adf4","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"1e1c4d2e.668da3","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"be289ff4.a97aa","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"d6441357.d0655","type":"tab","label":"Flow 4","disabled":true,"info":""},{"id":"1f501ed1.19f941","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"32794e36.c662c2","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"57f91712.5285a8","type":"ui_group","z":"","name":"Machine Learning Model","tab":"f841b8b7.7acfe8","order":1,"disp":true,"width":7,"collapse":false},{"id":"f841b8b7.7acfe8","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"ea32d885.c4ce38","type":"ui_group","z":"","name":"Machine Learning Model","tab":"ae29b4f2.98bdc8","order":1,"disp":true,"width":7,"collapse":false},{"id":"ae29b4f2.98bdc8","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"7dab8363.343d6c","type":"ui_group","z":"","name":"Machine Learning Model","tab":"6d7cbf22.2fdc7","order":1,"disp":true,"width":7,"collapse":false},{"id":"6d7cbf22.2fdc7","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"6ddf8fb8.c41cb","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6cf2d2ab.68eefc","type":"ui_group","z":"","name":"Machine Learning Model","tab":"bb465792.0dfde8","order":1,"disp":true,"width":7,"collapse":false},{"id":"bb465792.0dfde8","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"b1b11140.4e4ef","type":"inject","z":"5fa2ca54.b9adf4","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"Hello Node-RED!","payloadType":"string","x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"5fa2ca54.b9adf4","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"491169ce.0a11a8","type":"ui_form","z":"5fa2ca54.b9adf4","name":"","label":"","group":"57f91712.5285a8","order":1,"width":0,"height":0,"options":[{"label":"infant deaths","value":"a","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"b","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"c","type":"number","required":true,"rows":null},{"label":"Measles ","value":"d","type":"number","required":true,"rows":null},{"label":" BMI ","value":"e","type":"number","required":true,"rows":null},{"label":"Polio","value":"f","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"g","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"h","type":"number","required":true,"rows":null},{"label":"GDP","value":"i","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":430,"y":480,"wires":[[]]},{"id":"6e4398fd.173408","type":"ui_form","z":"be289ff4.a97aa","name":"","label":"","group":"ea32d885.c4ce38","order":1,"width":0,"height":0,"options":[{"label":"infant deaths","value":"a","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"b","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"c","type":"number","required":true,"rows":null},{"label":"Measles ","value":"d","type":"number","required":true,"rows":null},{"label":" BMI ","value":"e","type":"number","required":true,"rows":null},{"label":"Polio","value":"f","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"g","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"h","type":"number","required":true,"rows":null},{"label":"GDP","value":"i","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":190,"y":220,"wires":[[]]},{"id":"b870f540.448a48","type":"function","z":"32794e36.c662c2","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\n\n\n\n\n//following are required to receive a token\nvar apikey=\"U7sVEc7kr6IJyBeeQO38ybtUK9kEnmuy3H99ArBbsGaK\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":200,"wires":[["67e2506f.9b447"]]},{"id":"a19815d0.48b308","type":"ui_form","z":"32794e36.c662c2","name":"","label":"","group":"7dab8363.343d6c","order":1,"width":0,"height":0,"options":[{"label":"infant deaths","value":"a","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"b","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"c","type":"number","required":true,"rows":null},{"label":"Measles ","value":"d","type":"number","required":true,"rows":null},{"label":" BMI ","value":"e","type":"number","required":true,"rows":null},{"label":"Polio","value":"f","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"g","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"h","type":"number","required":true,"rows":null},{"label":"GDP","value":"i","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":50,"y":200,"wires":[["b870f540.448a48"]]},{"id":"caa17da6.c8819","type":"http request","z":"32794e36.c662c2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/e67e02bf-cae3-47ab-9c95-d762e33db98a/predictions","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":320,"wires":[["db93eed.3a58f1"]]},{"id":"b13c77b4.591868","type":"debug","z":"32794e36.c662c2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":340,"wires":[]},{"id":"db93eed.3a58f1","type":"function","z":"32794e36.c662c2","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":400,"wires":[["b13c77b4.591868","b7fd291b.d36638"]]},{"id":"5ddad5c3.61aadc","type":"function","z":"32794e36.c662c2","name":"sendTo Endpoint","func":"//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\n\n//send the user values to service endpoint\n//get token and make headers\nvar token=msg.payload.access_token\nvar instance_id=\"fcef1783-9cc3-4122-b15f-d485f48c2573\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload = \n{\"fields\":['infant deaths', 'Alcohol',\n      'Hepatitis B', 'Measles', 'BMI',\n        'Polio', 'Diphtheria',\n      'HIV/AIDS', 'GDP'],\n\"values\":[[a,b,c,d,e,f,g,h,i]]};\n\n// msg.payload = {\"input_data\": [{\"fields\": [\"infant deaths\", \"Alcohol\", \"Hepatitis B\", \"Measles\", \"BMI\", \"Polio\", \"Diphtheria\", \"HIV/AIDS\", \"GDP\"], \"values\": [[a,b,c,d,e,f,g,h,i]]}]}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":180,"wires":[["caa17da6.c8819"]]},{"id":"67e2506f.9b447","type":"http request","z":"32794e36.c662c2","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":180,"wires":[["5f5c831f.27c80c","5ddad5c3.61aadc"]]},{"id":"b7fd291b.d36638","type":"ui_text","z":"32794e36.c662c2","group":"7dab8363.343d6c","order":2,"width":0,"height":0,"name":"","label":"Predict","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":460,"wires":[]},{"id":"5f5c831f.27c80c","type":"debug","z":"32794e36.c662c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":420,"wires":[]},{"id":"5b64051a.46739c","type":"ui_form","z":"1f501ed1.19f941","name":"","label":"","group":"6cf2d2ab.68eefc","order":1,"width":0,"height":0,"options":[{"label":"infant deaths","value":"a","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"b","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"c","type":"number","required":true,"rows":null},{"label":"Measles ","value":"d","type":"number","required":true,"rows":null},{"label":" BMI ","value":"e","type":"number","required":true,"rows":null},{"label":"Polio","value":"f","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"g","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"h","type":"number","required":true,"rows":null},{"label":"GDP","value":"i","type":"number","required":true,"rows":null},{"label":"","value":"","type":"text","required":false,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["f9cec833.e006a8"]]},{"id":"f9cec833.e006a8","type":"function","z":"1f501ed1.19f941","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\n\n\n\n\n//following are required to receive a token\nvar apikey=\"2__duW-9KEXb5483ovDe00ildeMQgOb-4z171iFiyNQ-\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":100,"wires":[["6f109dff.cdcc94"]]},{"id":"9cb6947c.9b59d8","type":"http request","z":"1f501ed1.19f941","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/6ecd5fab-f04d-447d-ad2a-142d4d8d57a2/predictions","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":220,"wires":[["9fd24728.e3a868"]]},{"id":"97256be5.22e4f8","type":"debug","z":"1f501ed1.19f941","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":240,"wires":[]},{"id":"9fd24728.e3a868","type":"function","z":"1f501ed1.19f941","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":300,"wires":[["97256be5.22e4f8","e82e8b10.dd8728"]]},{"id":"f5cfc10.484c34","type":"function","z":"1f501ed1.19f941","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token\nvar instance_id=\"7da5e64a-cb4e-4648-93b7-77b716579888\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['infant deaths', 'Alcohol',\n      'Hepatitis B', 'Measles', 'BMI',\n        'Polio', 'Diphtheria',\n      'HIV/AIDS', 'GDP'],\n\"values\":[[a,b,c,d,e,f,g,h,i]]};\n\n// msg.payload = {\"input_data\": [{\"fields\": [\"infant deaths\", \"Alcohol\", \"Hepatitis B\", \"Measles\", \"BMI\", \"Polio\", \"Diphtheria\", \"HIV/AIDS\", \"GDP\"], \"values\": [[a,b,c,d,e,f,g,h,i]]}]}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":80,"wires":[["9cb6947c.9b59d8"]]},{"id":"6f109dff.cdcc94","type":"http request","z":"1f501ed1.19f941","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":450,"y":80,"wires":[["e8d1a2df.f71d8","f5cfc10.484c34"]]},{"id":"e82e8b10.dd8728","type":"ui_text","z":"1f501ed1.19f941","group":"6cf2d2ab.68eefc","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":360,"wires":[]},{"id":"e8d1a2df.f71d8","type":"debug","z":"1f501ed1.19f941","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":320,"wires":[]}]