flows.json
[{"id":"4ac6889f.7b8808","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"658cfbf4.be6874","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"a1a48e13.fb43c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4358e9d0.964138","type":"ui_group","z":"","name":"Machine Learning Model","tab":"eb719e13.2f9fa","order":1,"disp":true,"width":7,"collapse":false},{"id":"eb719e13.2f9fa","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"9e6e75ac.fe3f78","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c515a56e.ddaf78","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b1b11140.4e4ef","type":"inject","z":"4ac6889f.7b8808","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"Hello Node-RED!","payloadType":"string","x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"4ac6889f.7b8808","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"3aeb6926.49aa36","type":"ui_form","z":"a1a48e13.fb43c","name":"","label":"","group":"4358e9d0.964138","order":1,"width":0,"height":0,"options":[{"label":"infant deaths","value":"a","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"b","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"c","type":"number","required":true,"rows":null},{"label":"Measles ","value":"d","type":"number","required":true,"rows":null},{"label":" BMI ","value":"e","type":"number","required":true,"rows":null},{"label":"Polio","value":"f","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"g","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"h","type":"number","required":true,"rows":null},{"label":"GDP","value":"i","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":90,"y":220,"wires":[["2f674dfe.cc3cc2"]]},{"id":"2f674dfe.cc3cc2","type":"function","z":"a1a48e13.fb43c","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\n\nvar apikey=\"w_mL081BBgQI9kZ0V3XEnkl-gGvYABWxIPxzKo7G2lt9\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":140,"wires":[["988d6b14.4252a8"]]},{"id":"197b1a1a.d4ecf6","type":"http request","z":"a1a48e13.fb43c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/595a0900-46a3-40f5-be07-f8ff3bd99a5f/predictions","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":220,"wires":[["c7e8cb62.1647d8"]]},{"id":"6e7cf2b1.52ffbc","type":"debug","z":"a1a48e13.fb43c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":260,"wires":[]},{"id":"c7e8cb62.1647d8","type":"function","z":"a1a48e13.fb43c","name":"getFrom Endpoint","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":120,"wires":[["6e7cf2b1.52ffbc","54578e35.4fde6"]]},{"id":"d688d8fe.62e2c8","type":"function","z":"a1a48e13.fb43c","name":"sendTo Endpoint","func":"//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\n\nvar token=msg.payload.access_token\nvar instance_id=\"27fe75c8-ba66-4f2b-88a7-8fd6f0781679\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload = {\"input_data\": [{\"fields\": [\"infant deaths\", \"Alcohol\", \"Hepatitis B\", \"Measles\", \"BMI\", \"Polio\", \"Diphtheria\", \"HIV/AIDS\", \"GDP\"], \"values\": [[a,b,c,d,e,f,g,h,i]]}]}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":100,"wires":[["197b1a1a.d4ecf6"]]},{"id":"988d6b14.4252a8","type":"http request","z":"a1a48e13.fb43c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":240,"wires":[["d688d8fe.62e2c8"]]},{"id":"54578e35.4fde6","type":"ui_text","z":"a1a48e13.fb43c","group":"4358e9d0.964138","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":340,"wires":[]},{"id":"b2cab8f4.815ac8","type":"inject","z":"a1a48e13.fb43c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["2f674dfe.cc3cc2"]]}]