flows (10).json
[{"id":"ed31c7af.f22e08","type":"function","z":"8019ee1b.16f44","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\n\n\n\n\n//following are required to receive a token\nvar apikey=\"U7sVEc7kr6IJyBeeQO38ybtUK9kEnmuy3H99ArBbsGaK\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":100,"wires":[["b0b37cf2.98cf8"]]},{"id":"64b2d849.d798a8","type":"ui_form","z":"8019ee1b.16f44","name":"","label":"","group":"7dab8363.343d6c","order":1,"width":0,"height":0,"options":[{"label":"infant deaths","value":"a","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"b","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"c","type":"number","required":true,"rows":null},{"label":"Measles ","value":"d","type":"number","required":true,"rows":null},{"label":" BMI ","value":"e","type":"number","required":true,"rows":null},{"label":"Polio","value":"f","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"g","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"h","type":"number","required":true,"rows":null},{"label":"GDP","value":"i","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":""},"payload":"","submit":"Predict","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["ed31c7af.f22e08"]]},{"id":"ea7e6ec8.0fed4","type":"http request","z":"8019ee1b.16f44","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/e67e02bf-cae3-47ab-9c95-d762e33db98a/predictions","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":220,"wires":[["fb33e468.71a6d8"]]},{"id":"257b8045.42d9e","type":"debug","z":"8019ee1b.16f44","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":240,"wires":[]},{"id":"fb33e468.71a6d8","type":"function","z":"8019ee1b.16f44","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":300,"wires":[["257b8045.42d9e","79445bf7.2d7394"]]},{"id":"32a43dda.a5c992","type":"function","z":"8019ee1b.16f44","name":"sendTo Endpoint","func":"//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\n\n//send the user values to service endpoint\n//get token and make headers\nvar token=msg.payload.access_token\nvar instance_id=\"fcef1783-9cc3-4122-b15f-d485f48c2573\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload = \n{\"fields\":['infant deaths', 'Alcohol',\n      'Hepatitis B', 'Measles', 'BMI',\n        'Polio', 'Diphtheria',\n      'HIV/AIDS', 'GDP'],\n\"values\":[[a,b,c,d,e,f,g,h,i]]};\n\n// msg.payload = {\"input_data\": [{\"fields\": [\"infant deaths\", \"Alcohol\", \"Hepatitis B\", \"Measles\", \"BMI\", \"Polio\", \"Diphtheria\", \"HIV/AIDS\", \"GDP\"], \"values\": [[a,b,c,d,e,f,g,h,i]]}]}\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":80,"wires":[["ea7e6ec8.0fed4"]]},{"id":"b0b37cf2.98cf8","type":"http request","z":"8019ee1b.16f44","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":80,"wires":[["9ae02aa6.93f258","32a43dda.a5c992"]]},{"id":"79445bf7.2d7394","type":"ui_text","z":"8019ee1b.16f44","group":"7dab8363.343d6c","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":360,"wires":[]},{"id":"9ae02aa6.93f258","type":"debug","z":"8019ee1b.16f44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":320,"wires":[]},{"id":"7dab8363.343d6c","type":"ui_group","z":"","name":"Machine Learning Model","tab":"6d7cbf22.2fdc7","order":1,"disp":true,"width":7,"collapse":false},{"id":"6d7cbf22.2fdc7","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]